:root{
    --green:rgb(24, 168, 158);
    --gray:rgb(51, 51, 51);
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(134, 134, 134);
}
li{
    list-style-type: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background: var(--gray);
    padding: .5rem 4rem;
}
header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header .container *{
    /* outline: 1px solid red; */
}
.logo a{
    color: #fff;
}
header .container ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}
header .container ul li a:hover{
    color: #fff;
}


@media only screen and (max-width: 650px){
    header{
        padding: 0 1rem;
    } 
    header .container ul li a{
        font-size: 14px;
    }
}
 @media only screen and (max-width: 505px){
    header .container ul{
        gap: 10px;
    }
}
@media only screen and (max-width: 450px){
    header .container .logo{
        margin:  0 auto;
        padding: 1rem 0;
        /* padding: 1rem; */
    }
    header .container ul{
        padding: 1rem 0;
        margin:  0 auto;
        gap: 1rem;
        
    }
}
/*
@media only screen and (max-width: 490px){
   .logo{
        margin-right: auto;
   }
    header{
        padding: 0 .2rem;
    }  
}*/
.hero {
    padding: 1rem 5rem;
    font-size: 1rem;
    height: 50svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--green);
    color: #fff;
}
.hero *{
    width: fit-content;
    margin: 0 auto;
    padding: .5em;
}
.hero .hero-title{
    text-align: center;
    font-size: clamp(2.5rem,4vw + 1rem, 15rem);
}
.hero .hero-text{
    text-align: justify;
    font-weight: 300;
    font-size: clamp(1rem, 1vw + .4rem, 5rem);
}
.hero-buttons{
    padding: 4rem 0;
}
.hero-buttons *{
    border: 0;
    border-radius: .5rem;
    padding: .6rem 1rem;
    cursor: pointer;
}
.white-button{
    color: var(--gray);
    background: #fff;
}
.gray-button{
    color: #fff;
    background: var(--gray);
}

/* RESPONSIVE HERO */

@media only screen and (max-width: 600px){
    .hero{
        padding: 0 2rem;
    }
}

main{
    padding: 1rem 5rem;
    font-size: 1rem;
    color: var(--gray);
}
.main-title{
    font-size: 1.5em;
    font-weight: 900;
}
hr{
    opacity: .3;
}
main .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-block: 5vh;
    /* outline: 2px solid red; */
    text-align: center;
}
.section-title{
    font-size: 2em;
    font-weight: 700;
}
.section-text{
    font-weight: 500;
}
.container section{
    /* outline: 2px solid red; */
    width: 20vw;
}
.container section a{
    color: var(--green);
    text-decoration: underline;
}

/* RESSPONSIVE MAIN */
@media only screen and (max-width: 800px){
    .main-title{
        text-align: center;
    }
    main .container section{
        width: 50%;
    }
}
@media only screen and (max-width: 540px){
    main{
        padding: 2rem 1rem;
    }
    main .container section{
        width: 80%;
        margin: 0 auto;
    }
}

.latest-project{
    padding: 1em 5em;
    font-size: 1rem;
    color: var(--gray);
}
.latest-project .latest-project-title{
    font-size: 1.5em;
    font-weight: 900;
}
.latest-project .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1vw;
    padding-block: 5vh;
}
.latest-project .container .card{
    background: var(--green);
    width: 29vw;
    height: 30vh;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size:cover;
}
.latest-project .container .card:nth-child(1){
    background-image: url(images/banner-1.png);
}
.latest-project .container .card:nth-child(2){
    background-image: url(images/banner-2.png);
}
.latest-project .container .card:nth-child(3){
    background-image: url(images/banner-3.png);
}
.latest-project .container .card:nth-child(4){
    background-image: url(images/banner-4.png);
}
.latest-project .container .card:nth-child(5){
    background-image: url(images/banner-5.png);
}
.latest-project .container .card:nth-child(6){
    background-image: url(images/banner-6.png);
}

/* RESPONSIVE LAYOUT */

@media only screen and (max-width: 1000px){

/* .latest-project .container .card{
    margin: 0 auto;
} */
    .latest-project .container .card{
        width: 35vw;
    }
    .latest-project .container{
        gap: 3rem;
    }
}
@media only screen and (max-width: 800px){
    .latest-project .latest-project-title{
        text-align: center;
    }
    .latest-project .container .card{
        width: 50vw;
        height: 30vh;
    }
}
.big-text{
    text-align: center;
    color: var(--gray);
    font-size: clamp(1.5rem, 2vw + 1rem, 10rem);
    font-weight: 900;
    padding-block: 2rem;
    margin: 0;
}
footer{
    font-size: 1rem;
    padding: 1em 4em;
    margin: 0;
    background: var(--gray);
    color: rgb(134, 134, 134);
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:1rem;
}
.links{
    display: flex;
    flex-direction: column;
    /* width: 33vw; */
    /* outline: 2px solid red; */
}
.links .link-title{
    font-size: 1.8em;
    font-weight: 600;
}
.link-top-container{
    display: flex;
    gap: 3px;
}
.links .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
}
.links .container li{
    position: relative;
    padding: 1rem 0;
    width: 50%;
}
.links .container li:after{
    content: '';
    position: absolute;
    width: 90%;
    bottom: 0;left: 0;
    height: 1px;
    margin-block: 1rem;
    opacity: .5;
    background: rgb(134, 134, 134);
}
.connect{
    display: flex;
    flex-direction: column;
}
.connect-top-container{
    display: flex;
    gap: .5rem;
}
.connect-title{
    font-size: 1.8em;
    font-weight: 600;
}
.connect-text{
    padding-block: 1.5rem;
}
.connect .container{
    display: flex;
    flex-wrap: wrap;
    outline: 2px solod red;
    justify-content: space-between;
}
.subscribe{
    display: flex;
    flex-direction: column;
}
.subscribe .subscribe-title{
    font-size: 1.8em;
    font-weight: 600;
}
.subscribe .subscribe-text{
    padding-block: 1.5rem;
}
.bottom-footer{
    color: rgb(134, 134, 134);
    background: #222;
    padding: 1.5rem;
}
.bottom-footer .container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.bottom-footer .container li{
    padding-inline: 1rem;
}


@media only screen and (max-width: 1000px){

}
